
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  color:#c9ccea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(39,42,85);
  background: radial-gradient(circle, #1E2140 0%, #151932 65%); 
}

.container h1 {
  font-size:2.6rem;
  margin-bottom:0.2rem;
}

.container .labels {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  font-size: .8rem;
  padding:.3rem .3rem;
  background-color: #0C0E1B;
  border-radius: 1.5rem;
}

.active-label {
  color: #0C0E1B;
  background-color: #FE6F6B;
}

.timer-container {
  display: flex;
  flex:2;
  align-items: center;
  justify-content: center;
}

.time-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 15rem;
  border-radius: 7.5rem;
  color:#fffefe;
  background: #2b2946;
  font-size: 3.5rem;
  box-shadow: 1rem 1.5rem 2rem rgba(0,0,0,0.6)
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:2rem
}

button {
  color:#efefef;
  font-size:1rem;
  padding: 0.5rem 1.2rem;
  border:none;
  border-radius:3rem;
  margin: 0.5rem 0.2rem 0.5rem 0.2rem;
  background:#0C0E1B;
  min-width: 80px;
  cursor: pointer;
}

/* .button-wrapper button.activve {
  color: #0C0E1B;
  background-color: #C9CCEA;
  border: 1px solid #9b8090;
} */
.button-wrapper button.start {
  color: #0C0E1B;
  background-color: #C9CCEA;
  border: 1px solid #9b8090;
}

.button-wrapper .pause {
  color: #0C0E1B;
  background-color: #C9CCEA;
  border: 1px solid #9b8090;
}

.button-wrapper .reset {
  color: #d7d9e0;
  background-color: #e71010c5;
  /* border: 1px solid #020202; */
}


.form-container {
  text-align: center;
}
.input-wrapper {
  margin: 1.5rem;
}
.input-wrapper label {
  display: flex; 
  /* flex-direction: column; */
  align-items: center;
  /* height: 30px; */
  /* width: 30px; */
  padding: 1rem 1.5rem;
  margin: 1rem;
  background-color: #292e49;
  color:#e9eaf7;
  border: none;
  border-radius: 5%;
  margin-right: 0.3rem;
  text-align: center;
  font-size: 14pt;
}

.input-wrapper label input {
  border: none;
  padding: 0.5rem 0.5rem ;
  border-radius: 50px;
  text-align: center;
  max-width: 120px;
  margin: 0.5rem;
  font-weight: 600;
  background-color: #cccccc;
  font-size: 12pt;
  color:#1a1a1ae3;
}

.input-wrapper label input.red{
  border: 2px solid red;
  background-color: rgb(230, 52, 52);
  color: rgb(248, 243, 243);
}
.redb{
  border: 2px solid red;
  background-color: rgb(230, 52, 52);
  color: rgb(248, 243, 243);
}

.input-wrapper label ::-webkit-input-placeholder{
  color: #0a0a0a91;
  font-weight: 500;
}
